In [1]:
import requests 
from bs4 import BeautifulSoup as bs
import pandas as pd
import re
import time
import random

In [2]:
url = 'https://www.iplt20.com/auction'

In [3]:
r= requests.get(url)

In [4]:
r

In [82]:
soup=bs(r.text,'lxml')

In [83]:
top_buy = soup.find_all('tbody',id = 'pointsdata')[0]

In [84]:
header_top_buy=top_buy.find_all('img')

In [85]:
image_links = [img['src'] for img in header_top_buy]

In [94]:
funds=soup.find_all('span',class_='fr-fund')

In [104]:
funds_remaining = [i.text for i in funds  if '₹' in i.text]

In [115]:
overseas_players = [i.text for i in funds[1::3]]

In [160]:
Total_players = [i.text for i in funds[2::3]]

In [161]:
team_name = []
for i in image_links:
    names= i.split('_')
    new_name = names[-1].split('roundbig.png')[0]
    team_name.append(new_name)

In [162]:
team_name

['CSK', 'DC', 'GT', 'KKR', 'LSG', 'MI', 'PBKS', 'RR', 'RCB', 'SRH']

In [166]:
#create table dataframe

In [167]:
df_overview= pd.DataFrame(
    {"team name":team_name,
     "funds remaining":funds_remaining,
     "overseas players":overseas_players,
     "Total players":Total_players,
     "team logo":image_links})

In [168]:
df_overview

,team name,funds remaining,overseas players,Total players,team logo
0,CSK,"₹5,00,000",7,25,https://documents.iplt20.com/ipl/franchises/17...
1,DC,"₹20,00,000",7,23,https://documents.iplt20.com/ipl/franchises/17...
2,GT,"₹15,00,000",7,25,https://documents.iplt20.com/ipl/franchises/17...
3,KKR,"₹5,00,000",8,21,https://documents.iplt20.com/ipl/franchises/17...
4,LSG,"₹10,00,000",6,24,https://documents.iplt20.com/ipl/franchises/17...
5,MI,"₹20,00,000",8,23,https://documents.iplt20.com/ipl/franchises/17...
6,PBKS,"₹35,00,000",8,25,https://documents.iplt20.com/ipl/franchises/17...
7,RR,"₹30,00,000",6,20,https://documents.iplt20.com/ipl/franchises/17...
8,RCB,"₹75,00,000",8,22,https://documents.iplt20.com/ipl/franchises/17...
9,SRH,"₹20,00,000",7,20,https://documents.iplt20.com/ipl/franchises/17...

In [169]:
df_overview.index.name='id'

In [173]:
df_overview.to_csv("C:\\Users\\lenovo\\Desktop\\webscraping\\project\\data\\overview.csv")

In [174]:
#2nd table

In [245]:
top_buyss = soup.find_all('tbody',id = 'pointsdata')[1]

In [241]:
pointsdata=top_buyss.find_all('td')

In [242]:
sr_no_1 = [i.text for i in pointsdata]

In [243]:
image_team=soup.find_all('img')

In [208]:
sr_no = sr_no_1[0::6]
player = sr_no_1[1::6]
base_price = sr_no_1[2::6]
winning_bid = sr_no_1[3::6]

In [251]:
df_pointsdata= pd.DataFrame(
    {"sr no":sr_no,
     "player":player,
     "base price":base_price,
     "winning bid":winning_bid})

In [252]:
df_pointsdata.to_csv('C:\\Users\\lenovo\\Desktop\\webscraping\\project\\data\\Top_buys.csv',index=False)

In [253]:
#3rd table

In [360]:
table_3 = soup.find_all('div',class_ = 'ih-points-table-sec')

In [361]:
table_column = table_3[1].find_all('th')

In [366]:
cols =[i.text for i in table_column]+["Team Name"]
df_cols=pd.DataFrame(columns=cols)

In [367]:
#df_cols["team name"]=''
df_cols

Empty DataFrame
Columns: [Sr. No., Player, Base Price, Winning Bid, Capped/Uncapped, , Team Name]
Index: []

In [371]:
for i in range(1,11):
         teams= table_3[i].find_all('h2')
         team_name=   [i.text for i in teams]

    
         data=table_3[i].find_all('tr')
         for i in data[1:]:
             row=i.find_all('td')
             e_row=[t.text for t in row]+ [team_name]
             lens=len(df_cols)
             df_cols.loc[lens]=e_row
           #  df_cols["team name"]=team_name
         #print(team_name)

In [372]:
df_cols

,Sr. No.,Player,Base Price,Winning Bid,Capped/Uncapped,,Team Name
0,1,Noor Ahmad,"2,00,00,000","10,00,00,000",Capped,,Chennai Super Kings
1,2,Ravichandaran Ashwin,"2,00,00,000","9,75,00,000",Capped,,Chennai Super Kings
2,3,Devon Conway,"2,00,00,000","6,25,00,000",Capped,,Chennai Super Kings
3,4,Syed Khaleel Ahmed,"2,00,00,000","4,80,00,000",Capped,,Chennai Super Kings
4,5,Rachin Ravindra,"1,50,00,000","4,00,00,000",Capped,,Chennai Super Kings
...,...,...,...,...,...,...,...
541,11,Kamindu Mendis,"75,00,000","75,00,000",Capped,,[ Sunrisers Hyderabad]
542,12,Zeeshan Ansari,"30,00,000","40,00,000",Uncapped,,[ Sunrisers Hyderabad]
543,13,Sachin Baby,"30,00,000","30,00,000",Uncapped,,[ Sunrisers Hyderabad]
544,14,Aniket Verma,"30,00,000","30,00,000",Uncapped,,[ Sunrisers Hyderabad]
545,15,Atharva Taide,"30,00,000","30,00,000",Uncapped,,[ Sunrisers Hyderabad]

In [373]:
df_cols.to_csv('C:\\Users\\lenovo\\Desktop\\webscraping\\project\\data\\Sold_players.csv',index=False)

In [374]:
#last table

In [469]:
unsold_players= soup.find_all('table',id='t5')

In [470]:
first_table = unsold_players[0]  # Select the first table
names_last=first_table.find_all('th')  # Now search for 'th' inside this table
column_name_last=[i.text for i in names_last]

In [471]:
df_last_table=pd.DataFrame(columns=column_name_last)

In [472]:
df_last_table.drop('Sr. No.', axis=1, inplace=True)

In [474]:
for i in unsold_players:
    row=i.find_all('tr')
    for j in row[1:]:
        new_row=j.find_all('td')
        datas = [k.text for k in new_row]
        lens=len(df_last_table)
        df_last_table.loc[lens] = datas

In [475]:
df_last_table.index.name='id'

In [476]:
df_last_table.to_csv('C:\\Users\\lenovo\\Desktop\\webscraping\\project\\data\\un_Sold_players.csv')